.homePage{
  width: 100%;
  height: calc(100vh - 80px));
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.homePage .postContents{
  width: 600px;
  height: auto;
  max-height: 600px;
  background-color: #fff;
  box-shadow: 5px 9px 15px -5px rgba(0,0,0,0.2);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.postHeader h1{
  text-align: center;
  margin-top: 5px;
}

.postContents .postTextContainer{
  height: auto;
  word-wrap: break-word;
  max-height: 400px;
  width: 100%;
}

.nameAndDeleteButton{
  display: flex;
  align-items: center;
}

.nameAndDeleteButton button{
  flex: 10%;
  background-color: #d35262;
  color: #fff;
  padding: 7px 15px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nameAndDeleteButton button:hover{
  background-color: #c44e5e;
}

.nameAndDeleteButton h3 {
  flex: 90%;
}